.header {
  background-color: #c8c8c8;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
    color: #ececec;
}

.content {
  font-family: Arial, sans-serif;
  color: #035271;
}
