.header {
  background-color: #585858;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
    color: #ececec;
}
<!--.是class選擇器，＃是id選擇器-->

.content {
  font-family: Arial, sans-serif;
  color: #035271;
}
